/*  
Description: Archivo de normalización de estilos.
Author: Miguel Arturo  Hernandez Meza
Author URI: http://www.concejodepuertocolombia.com
Owner: 
Owner URI:
Version: 1.1
*/


body{
	font: 62.5% Arial, Helvetica, sans-serif;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block;
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
fieldset,img, abbr, acronym{
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
ol,ul,dl{
	list-style:none;
}
caption,th{
	text-align:left;
}
img{
	border:0;
}
h1,h2,h3,h4,h5,h6{
	font-size:1em;
	font-size:100%;
	font-weight:normal;
}
a{
	outline:none;
}
/*PROPIEDADES*******************************/
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix{
	display: inline-block;
}
/*\*/* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}/**/
.flotar_der{
    float: right;
}
.flotar_izq{
    float: left;
}